:root {
  --color1: white;
  --color2: #202020;
}

/* Body Styles */
body {
  background-color: white!important;
}

body.dark-mode {
  background-color: #202020!important;
}

/* Switch Icon Styles for Dark Mode */
body.dark-mode #whiteModeSwitch,
body.dark-mode #darkModeSwitch {
  color: #202020 !important;
}

/* Navigation Link Styles for Dark Mode */
body.dark-mode .navlink {
  color: white;
}

body.dark-mode .navlink:hover,
body.dark-mode .navlink:focus,
body.dark-mode .navlink:active {
  color: #202020;
}

/* Transition Animation for Icon Switch */
#whiteModeSwitch,
#darkModeSwitch {
  transition: color 0.5s ease;
}

/* Switch Mode Styles */
.switchMode {
  display: flex;
}

/* Cursor And Animation Styles For Switch Icon */
.darkModeSwitch,
.whiteModeSwitch {
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

body.dark-mode .whiteModeSwitch,
body:not(.dark-mode) .darkModeSwitch {
  display: none;
}

.navButtonGroup {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: end;
}

/* Main Button Styles */
.mainButtons {
  font-family: 'Candy Beans', Sans-Serif;
  font-size: 20px;
  line-height: normal;
  color: #202020;
  padding: 12px 35px;
  border-radius: 8px;
  background-color: #FEDF18;
  border: 2px solid #202020;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  text-decoration: none;
}

.mainButtons.mode {
  padding: 12px 12px;
}

/* Logo Style */
img.imgLogo {
  width: auto;
  height: 46px!important;
}

.wrapperNav {
  display: flex;
  flex-direction: row;
  column-gap: 53px;
  align-items: center;
  justify-content: center;
}

.navlink {
  font-family: 'Candy Beans', Sans-Serif;
  font-size: 20px;
  line-height: normal;
  color: #202020;
  padding: 5px 10px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.wrapperSubmenu {
  position: relative;
}

/* Mega Menu Styles */
.megaMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  z-index: 1;
  width: 150px;
  border-radius: 16px;
  border: 2px solid #FEDF18;
}

.subnavigasiLinks {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #202020;
  font-family: 'Candy Beans', Sans-Serif;
}

/* Show mega menu on hover */
.wrapperSubmenu:hover .megaMenu {
  display: block;
}

/* Button Shadow Styles */
.mainButtons,
body.dark-mode .mainButtons {
  box-shadow: 0px 8px 0px 0px #393939 !important;
  position: relative;
  transform: translateY(0px);
  transition: all 0.3s ease-in-out;
}

.mainButtons:hover,
.mainButtons:focus,
.mainButtons:active,
body.dark-mode .mainButtons:hover,
body.dark-mode .mainButtons:active {
  transform: translateY(4px);
  box-shadow: 0px 2px 0px 0px #393939 !important;
}

.mainButtons:active,
body.dark-mode .mainButtons:active {
  transform: translateY(8px);
  box-shadow: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Sticky Navigation Styles */
.navigation {
  position: relative;
  z-index: 15;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}

.navigation.with-border {
  top: 0;
  width: 100%;
  border-bottom: 1px solid #202020;
  transition: all 0.5s ease-in-out;
}

section#stickyNav,
section#stickyNavMobile {
  transition: all 0.5s ease-in-out;
  width: 100%;
  position: sticky !important;
}

.sticky {
  top: 0;
  width: 100%;
}

body.dark-mode section#stickyNav,
body.dark-mode section#stickyNavMobile {
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  background-color: #202020 !important;
}

body.dark-mode .with-border {
  border-bottom: 1px solid white !important;
}

/* Remove Dotted When Hover Navlink and Button */
.wrapperNav a:hover,
a.mainButtons:hover {
  text-decoration: none;
  border-bottom: none;
}

/* Utility Styles */
.mainText {
  color: #202020;
}

body.dark-mode .mainText {
  color: white;
}

.highlightText {
  color: #DBBF09 !important;
  text-decoration: underline !important;
  text-decoration-color: #DBBF09 !important;
}

.staticButton a {
  width: 100%;
}

/* Mini Gallery Styles */
.miniGallery img {
  border-radius: 8px !important;
  border: 2px solid #202020;
  z-index: 2;
}

body.dark-mode .miniGallery img {
  border: 2px solid white;
}

/* Footer Styles */
.wrapperSocialFooter {
  display: flex;
  flex-direction: row;
  column-gap: 31px;
  flex-wrap: wrap;
  justify-content: end;
}

.socialFooter {
  text-decoration: none;
  color: #202020;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.socialFooter:hover,
.socialFooter:focus,
.socialFooter:active {
  color: #FFA713;
}

body.dark-mode .socialFooter {
  color: white !important;
}

body.dark-mode .socialFooter:hover,
body.dark-mode .socialFooter:focus,
body.dark-mode .socialFooter:active {
  color: #FFA713 !important;
}

/* Next Page Styles */
.sectionPage {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.sectionPage.activeSection {
  display: block;
  opacity: 1;
}

/* Section 3 Card Styles */
.cardWrapper div {
  display: flex;
  column-gap: 20px !important;
  justify-content: space-between;
}

.cardWrapper img {
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.cardWrapper img:hover,
.cardWrapper img:focus,
.cardWrapper img:active {
  border: 2px solid #202020;
  transition: all 0.3s ease-in-out;
}

body.dark-mode .cardWrapper img:hover,
body.dark-mode .cardWrapper img:focus,
body.dark-mode .cardWrapper img:active {
  border: 1px solid white !important;
}

/* Section 5 Styles */
#mg5 img {
  width: 100%;
}

/* Section 9 Styles */
.gifImages img {
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
}

.collaboration img {
  width: 100vw !important;
  height: 100% !important;
  max-width: 100% !important;
  border-radius: 8px !important;
  border: 2px solid #202020 !important;
  padding: 9px 18.74px;
  height: 62.65px !important;
  background: white !important;
}

body.dark-mode .collaboration img {
  border: 2px solid #FFA713 !important;
}

/* Burger Styles */
.burguer-container {
  cursor: pointer;
  --distancia_btn-burger: 5px;
  --ancho_btn-burger: 35px;
  --alto_btn-burger: 3px;
  --bd_radio: 1em;
  --dimension: 50px;
  height: calc(var(--distancia_btn-burger) * 2);
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
}

.btn-burguer {
  background-color: ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  transition: all ease 0.3s;
  transition-delay: 0.075s;
  font-size: var(--dimension);
  border-radius: var(--bd_radio);
  width: var(--ancho_btn-burger);
  height: var(--alto_btn-burger);
}

.btn-burguer::before,
.btn-burguer::after {
  --distancia-seudoelemento: translateY(var(--distancia_btn-burger));
  --rotacion-inicial: rotateZ(0deg);
  --rotacion-final: rotateZ(45deg);
  --distancia-negada: translateY(0);
  content: '';
  display: inline-flex;
  width: inherit;
  height: inherit;
  position: absolute;
  background-color: var(--color2);
  border-radius: inherit;
  transform-origin: 50% 50%;
  transition: inherit;
  transition-delay: 0;
  animation: inherit;
  transform: var(--distancia-seudoelemento) var(--rotacion-inicial);
}

.btn-burguer::after {
  --rotacion-final: rotateZ(-45deg);
  --distancia-negativa: calc(var(--distancia_btn-burger) * -1);
  --distancia-arriba: translateY(var(--distancia-negativa));
  --distancia-seudoelemento: var(--distancia-arriba);
}

#btn_burguer {
  position: absolute;
  opacity: 0;
}

#btn_burguer:checked ~ .btn-burguer {
  background-color: rgba(255, 255, 255, 0);
  animation: anima_btn-burger 1s ease 1 forwards;
}

#btn_burguer:not(:checked):focus ~ .btn-burguer {
  animation: desanima_btn-burger 1s ease 1 forwards;
}

body.dark-mode .btn-burguer::before,
body.dark-mode .btn-burguer::after {
  background-color: white;
}

@keyframes anima_btn-burger {
  50% {
    transform: var(--distancia-negada) var(--rotacion-inicial);
  }
  100% {
    transform: var(--distancia-negada) var(--rotacion-final);
  }
}

@keyframes desanima_btn-burger {
  50% {
    transform: var(--distancia-negada) var(--rotacion-inicial);
  }
  0% {
    transform: var(--distancia-negada) var(--rotacion-final);
  }
}
/* Burger Styles */
