:root{
  --color1: white;
  --color2: #202020;
}

/* Body Default Color */
body{
  background-color: white;
}

/* Body Dark Mode Color */
body.dark-mode{
  background-color: #202020;
}

/* Switch Icon Color When Dark Mode */
body.dark-mode #whiteModeSwitch,
body.dark-mode #darkModeSwitch {
  color: #202020!important;
}

/* Navigation Link Color when Dark Mode */
body.dark-mode .navlink{
  color: white;
}

/* Navigation Link Hover Color When Hover , Focus and Active */
body.dark-mode .navlink:hover,
body.dark-mode .navlink:focus,
body.dark-mode .navlink:active{
  color: #202020;
}

/* Transition Animation For Icon Switch */
#whiteModeSwitch,
#darkModeSwitch {
  transition: color 0.5s ease;
}

/* Switch Mode Style*/
.switchMode {
  display: flex;
}

/* Cursor And Animation Style For Swtich Icon */
.darkModeSwitch,
.whiteModeSwitch {
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

body.dark-mode .whiteModeSwitch,
body:not(.dark-mode) .darkModeSwitch {
  display: none;
}

.navButtonGroup {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: end;
}

.mainButtons {
  font-family: 'Candy Beans', Sans-Serif;
  font-size: 20px;
  line-height: normal;
  color: #202020;
  padding: 12px 35px;
  border-radius: 8px;
  background-color: #FEDF18;
  border: 2px solid #202020;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none; 
}

.mainButtons.mode {
  padding: 12px 12px;
}

/* Logo Style */
img.imgLogo {
  width: auto;
  height: 46px;
}

.wrapperNav{
  display: flex;
   flex-direction: row;
  column-gap:53px;
  align-items: center;
  justify-content: center;
}
    
.navlink{
  font-family: 'Candy Beans', Sans-Serif;
  font-size: 20px;
  line-height: normal;
  color: #202020;
  padding: 5px 10px;
  border-radius:8px;
  transition: all 0.3s ease-in-out;
}
    
.navlink:hover,
.navlink:focus,
.navlink:active{
  background-color: #FEDF18;
  color: #202020;
}

.mainButtons {
    box-shadow: 0px 8px 0px 0px #393939 !important;
    -webkit-box-shadow: 0px 8px 0px 0px #393939 !important;
    -moz-box-shadow: 0px 8px 0px 0px #393939 !important;
    position: relative;
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
}

.mainButtons:hover,
.mainButtons:focus {
    transform: translateY(4px);
    box-shadow: 0px 2px 0px 0px #393939 !important;
    -webkit-box-shadow: 0px 2px 0px 0px #393939 !important;
    -moz-box-shadow: 0px 4px 0px 0px #393939 !important;
}

.mainButtons:active {
    transform: translateY(8px);
    box-shadow: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

body.dark-mode .mainButtons {
  border-color: #A0522D;
  box-shadow: 0px 8px 0px 0px #a0972d !important;
  -webkit-box-shadow: 0px 8px 0px 0px #a0972d !important;
  -moz-box-shadow: 0px 8px 0px 0px #a0972d !important;
    position: relative;
    transform: translateY(0px) !important;
    transition: all 0.3s ease-in-out;
}

body.dark-mode .mainButtons:hover,
body.dark-mode .mainButtons:active {
    box-shadow: 0px 4px 0px 0px #a0972d !important;
    -webkit-box-shadow: 0px 4px 0px 0px #a0972d !important;
    -moz-box-shadow: 0px 4px 0px 0px #a0972d !important;
    transform: translateY(4px) !important;
}

body.dark-mode .mainButtons:active {
    transform: translateY(8px) !important;
    box-shadow: none !important;
    transition: transform 0.2s ease, box-shadow 0.2s ease !important;
}

/* Fix Spacing Desktop Navigation */
.elementor-4452 .elementor-element.elementor-element-f40b226 {
  width:!important;
}

/* Fix Spacing Desktop Navigation */
.elementor-4452 .elementor-element.elementor-element-5a96e82>.elementor-container{
    justify-content: space-between;
}

/* Burger CSS  */
.burguer-container{
  cursor: pointer;
  --distancia_btn-burger: 5px;
  --ancho_btn-burger: 35px;
  --alto_btn-burger: 3px;
  --bd_radio: 1em;
  --dimension: 50px;
  height: calc( var(--distancia_btn-burger) * 2 );
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0px;
}

.btn-burguer{
  background-color: ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  transition: all ease .3s;
  transition-delay: .075s;
  font-size: var(--dimension);
  border-radius: var(--bd_radio);
  width: var(--ancho_btn-burger);
  height: var(--alto_btn-burger);
}

.btn-burguer::before,
.btn-burguer::after{
  --distancia-seudoelemento: translateY( var(--distancia_btn-burger) );
  --rotacion-inicial: rotateZ(0deg);
  --rotacion-final: rotateZ(45deg);
  --distancia-negada: translateY(0);
  content: '';
  display: inline-flex;
  width: inherit;
  height: inherit;
  position: absolute;
  background-color: var(--color2);
  border-radius: inherit;
  transform-origin: 50% 50%;
  transition: inherit;
  transition-delay: 0;
  animation: inherit;
  transform: var(--distancia-seudoelemento) var(--rotacion-inicial);
}

.btn-burguer::after{
  --rotacion-final: rotateZ(-45deg);
  --distancia-negativa: calc( var(--distancia_btn-burger) * -1);
  --distancia-arriba: translateY( var(--distancia-negativa) );
  --distancia-seudoelemento: var(--distancia-arriba) ;
}

#btn_burguer{
  position: absolute;
  opacity: 0;
}

#btn_burguer:checked ~ .btn-burguer{  
  background-color: rgba(255,255,255,0);
  animation: anima_btn-burger 1s ease 1 forwards;
}

#btn_burguer:not(:checked):focus ~ .btn-burguer{  
  animation: desanima_btn-burger 1s ease 1 forwards;
}

body.dark-mode .btn-burguer::before,
body.dark-mode .btn-burguer::after{
  background-color:white; 
}

@keyframes anima_btn-burger{ 
  50% { transform: var(--distancia-negada) var(--rotacion-inicial);}
  100% { transform: var(--distancia-negada) var(--rotacion-final);}
}

@keyframes desanima_btn-burger{ 
  50% { transform: var(--distancia-negada) var(--rotacion-inicial);}
  0% { transform: var(--distancia-negada) var(--rotacion-final);}
}
/* Burger CSS */

/* Navigation auto line when scrolling */
  .navigation{
      position: relative;
      z-index: 15;
      border-bottom: 1px solid transparent;
      transition: all 0.5s ease-in-out;
  }

  .navigation.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #202020;
  }

  .stickyNav,
  .stickyNavMobile{
    transition: border-bottom 0.5s ease-in-out;
  }

  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  }

  body.dark-mode .navigation{
    border-bottom : 1px solid transparent;
    transition: all 0.5s ease-in-out;
  }

  body.dark-mode .navigation.sticky{
    border-bottom: 1px solid white;
  }
/* Navigation auto line when scrolling */

/* Remove Dotted When Hover Navlink and Button */
.wrapperNav a:hover {
  text-decoration: none; 
  border-bottom: none; 
}

a.mainButtons:hover {
  text-decoration: none;
}
/* Remove Dotted When Hover Navlink and Button */

/* Utility Style  */
  .mainText{
    color: #202020;
  }

  body.dark-mode .mainText{
    color: white;
  }
  
  .highlightText{
    color: #DBBF09!important;
    text-decoration: underline!important;
    text-decoration-color: #DBBF09!important;
  }

  .staticButton a{
    width:100%;
  }
/* Utility Style */

/* Mini Gallery Style */
  .miniGallery img{
    border-radius: 8px!important;
    border: 2px solid #202020;
    z-index: 2;
  }
  
  body.dark-mode .miniGallery img{
      border: 2px solid white;
  }
/* Mini Gallery Style */

